@import '../../node_modules/jquery-nice-select/css/nice-select';

@import './admin';

.calc-price {
    &__title {

    }

    #select-two {
        display: none;
    }
}

[visible="false"] {
    display: none;
}

.nice-select {
    float: unset;
}